// Colors
//
$theme: #7395ae;
$text: #e8eef2;
$light-grey: #494f5c;
$dark-grey: #3B3E48;
$highlight-grey: #7d828a;
$midnightblue: #2c3e50;

// Fonts
//
$fonts: "Trebuchet MS", Verdana, "Verdana Ref", "Segoe UI", Candara, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$code-fonts: Consolas, "Andale Mono WT", "Andale Mono", Menlo, Monaco, "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, "YaHei Consolas Hybrid", monospace, "Segoe UI Emoji", "PingFang SC", "Microsoft YaHei";

// Commento CSS
//
.commento-root {
	* {
		font-family: inherit !important;
		font-size: 15px !important;
		line-height: 1.5 !important;
		color: #e8eef2 !important;
		text-rendering: optimizeLegibility !important;
	}
	.commento-logged-container {
		.commento-logged-in-as {
			.commento-name {
				color: #e8eef2 !important;
			}
		}
	}
	input[type=text] {
		color: #525f7f !important;
		&::placeholder {
			color: #cacaca !important;
		}
	}
	textarea {
		color: #525f7f !important;
		&::placeholder {
			color: #868e96 !important;
		}
	}
	.commento-markdown-help {
		border: 1px solid #dee2e6 !important;
		padding: 8px !important;
		tr {
			td {
				padding: 0 6px !important;
				pre {
					display: inline !important;
					font-family: monospace !important;
					font-size: 13px !important;
					padding: 0 !important;
				}
			}
		}
	}
}
.commento-root-font {
	* {
		font-family: 'Source Sans Pro', sans-serif !important;
	}
}

.small {
	font-size: 80%;
	font-weight: 400;
}
small {
	font-size: 80%;
	font-weight: 400;
}
.pt-7 {
	padding-top: 6.75rem !important;
}
.pb-5 {
	padding-bottom: 3.375rem !important;
}
.my-5 {
	margin-top: 3.375rem !important;
	margin-bottom: 3.375rem !important;
}
.mb-3 {
	margin-bottom: 1.125rem !important;
}
.my-0 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.mr-3 {
	margin-right: 1.125rem !important;
}
.text-muted {
	color: #8fa6b2 !important;
}
.media-body {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.text-center {
	text-align: center !important;
}
.col-lg-8 {
	position: relative;
	padding-right: 15px;
	padding-left: 15px;
}
.justify-content-center {
	-webkit-box-pack: center !important;
	-ms-flex-pack: center !important;
	justify-content: center !important;
}
.list-inline {
	padding-left: 0;
	list-style: none;
}
.list-inline-item {
	display: inline-block;
	&:not(:last-child) {
		margin-right: .5rem;
	}
}
.author {
	.name {
		a {
			color: $text;
			text-decoration: none;
		}
	}
	.social {
		a {
			color: $text;
			text-decoration: none;
		}
	}
}
blockquote {
	color: #8fa6b2;
	border-left: 6px solid #8fa6b2;
	padding-left: 1.125rem;
}
code {
	background-color: #e9edf0;
	border-radius: .3rem;
	padding: .125rem .2rem;
}
code[class*=language-] {
	font-family: Roboto Mono,monospace;
	font-size: 87.5%;
}
pre[class*=language-] {
	font-family: Roboto Mono,monospace;
	font-size: 87.5%;
}
pre {
	code {
		padding: 0;
	}
}
@media (min-width:992px) {
	.homepage-image {
		position: absolute;
		width: 400px;
		right: 100px;
		top: 0;
	}
}

.media {
	display: flex;
	align-items: flex-start;
}
.media-body {
	font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
	flex: 1;
}
@mixin list-unstyled() {
  padding-left: 0;
  list-style: none;
}
.h5 {
	font-size: 1.40625rem;
}
h5 {
	font-size: 1.40625rem;
}
.small {
	font-size: 80%;
	font-weight: 400;
}
small {
	font-size: 80%;
	font-weight: 400;
}
@media (max-width:1200px) {
    .h5,h5{
        font-size:calc(1.26562rem + .1875vw)
    }
}
.img-thumbnail {
	max-width: 100%;
	height: auto;
	padding: .25rem;
	background-color: #fff;
	border: 1px solid #adbcc4;
	border-radius: .45rem;
}
.rounded-circle {
	border-radius: 50% !important;
}

#social-share-section {
	margin-bottom: 30px;
}
ul.share {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		display: inline-flex;
		margin-right: 5px;
		&:last-of-type {
			margin-right: 0;
		}
		.fab {
			display: block;
			width: 30px;
			height: 30px;
			line-height: 30px;
			font-size: 16px;
			text-align: center;
			transition: all 150ms ease-in-out;
			color: #fff;
		}
		a {
			display: block;
			border-radius: 50%;
			text-decoration: none !important;
			margin: 0;
		}
		&:hover {
			.fab {
				transform: scale(1.4);
			}
		}
	}
}
footer {
	.list-inline {
		margin: 0;
		padding: 0;
	}
	.footer-links {
		font-size: 18px;
	}
}

.author-links {
	line-height: 0.6em !important;
}
.site-main {
	margin-top: 0 !important;
}
#mobile-menu {
	bottom: auto !important;
	top:1.5em !important;
}
::-webkit-scrollbar{width:8px;height:8px;background: #494f5c !important}

// Mixins
//
@mixin dimmed {
  opacity: .6;
}

@mixin aTag {
  a {
    word-wrap: break-word;
    border: none;
    box-shadow: inset 0 -2px 0 $theme;
    transition-property: box-shadow;
    transition-duration: .1s;

    &:hover {
      box-shadow: inset 0 -1em 0 $theme;
    }
  }
}