{{ define "head" }}
{{ end }}

{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
<main class="content-page container pt-7 pb-5">
    <div class="row">
        <div class="col">
            <article>
                <div class="row justify-content-center">
                     <div class="col-lg-8">
                            {{- $term := . -}}
                                <p class="text-center my-5">
                                    <img src="/authors/chad-porter/rxSPDze7TGS4CwTn.jpg" class="img-thumbnail rounded-circle" alt="">
                                </p>

                        {{- .Scratch.Set "name" .Title -}}
                        {{- if $term.Params.name -}}
                            {{- .Scratch.Set "name" $term.Params.name -}}
                        {{- end -}}
                        <div class="author-links">
                        <h2 class="mb-3">{{ .Scratch.Get "name" }}</h2>

                        {{- with $term.Params.twitter -}}
                            <p class="text-muted">
                                <a href="https://twitter.com/@{{ . | urlize }}">@{{ .}}</a>
                            </p>
                        {{- end -}}
                        </div>
                        <div class="content">
                            {{ $term.Content }}
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}