{{- if .Params.authors -}}
    <ul class="authors list-inline">
        {{- range .Params.authors -}}
            {{- with $.Site.GetPage (printf "/authors/%s" (. | urlize)) -}}
                {{- $term := . -}}
                <li class="list-inline-item mr-3">
                    <div class="media author">
                        {{- if $term.Params.images -}}
                            {{- with .Resources.GetMatch (index $term.Params.images 0) -}}
                                {{- $image := .Resize "64x" -}}
                                {{- $2ximage := .Resize "128x q100" -}}
                                {{- $3ximage := .Resize "192x q100" -}}
                                <a href="{{ $term.RelPermalink }}" class="mr-3">
                                    <picture>
                                        <source srcset="{{ $image.RelPermalink }} 1x, {{ $2ximage.RelPermalink }} 2x, {{ $3ximage.RelPermalink }} 3x">
                                        <img src="{{ $image.RelPermalink }}" class="rounded-circle" alt="{{ $term.Params.name }}">
                                    </picture>
                                </a>
                            {{- end -}}
                        {{- end -}}
                        <div class="media-body author-links">
                            <h5 class="name my-0">
                                {{- .Scratch.Set "name" .Title -}}
                                {{- if $term.Params.name -}}
                                    {{- .Scratch.Set "name" $term.Params.name -}}
                                {{- end -}}
                                <a href="{{ $term.RelPermalink }}" class="small">{{ .Scratch.Get "name" }}</a>
                            </h5>
                            {{- with $term.Params.twitter -}}
                                <p class="social small text-muted">
                                    <a href="https://twitter.com/@{{ . | urlize }}">@{{ . }}</a>
                                </p>
                            {{- end -}}
                        </div>
                    </div>
                </li>
            {{- end -}}
        {{- end -}}
    </ul>
{{- end -}}