<style type="text/css">
    #home-footer {
      text-align: center;
      font-size: 1em;
      margin-bottom: 96px;
      margin-top: 64px;
    
      p {
        margin: 0;
      }
    }
    </style>
    <footer id="site-footer">
        <div id="home-footer">
        <p><center><script src="https://www.hackthebox.eu/badge/11160"></script></center><br></p>
        <p><a href="https://keybase.io/chadaporter" target="_blank" rel="noopener">GPG Fingerprint: 60F8 07ED 1C35 3351 CD7D 219E 3BFF 2ACB 26EB B0E4</a><br></p>
            <p>&copy; {{ now.Format "2006" }} <a href="{{ .Site.BaseURL }}">{{ .Site.Author.name }}</a>{{ .Site.Params.footerCopyright | safeHTML }}</p>
    </footer>    